:root {
  --black: #000000;
  --bg-black: #242424;
  --white: #ffffff;
  --border-white: #727272;
  --menu-cont: #00000075;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-black);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100dvh;
  overflow: hidden;
  font-family: "helvetica";
}

#canvas0 {
  background-color: transparent;
  border: solid 5px var(--border-white);
  width: 1280px;
  aspect-ratio: 1.72;
  max-width: 100%;
  max-height: 100%;
}

img {
  display: none;
}

.menu-cont {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  left: 0;
  top: 0;
  background-color: var(--menu-cont);
  display: none;
  align-items: center;
  justify-content: center;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  z-index: 1;
}

button {
  background-color: transparent;
  color: var(--white);
  border: solid 2px var(--white);
  border-radius: 10px;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  width: 200px;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}
h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.gameOver-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  z-index: 1;
}

.show {
  display: flex;
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar {
  margin: 0.5rem;
}
